.idea/
*.iml
data/
/target/
*.project
*.prefs
*.classpath
*.component
*.container
*.gitignore
*.jsdtscope
.settings
*.log
*.data
*.redo
*.tlog
*.gz
*.data
*.free
codify-amq-kahadb
/docs/*
/*/target/*
/*/*/target/*
/*/*/*/target/*
.metadata
*.editorconfig
classes
